img
	max-width: 100%

.text-balance
	text-wrap: balance

.fs-7
	font-size: 0.875rem

.pretty-scrolls

	// pretty scrolls
	&::-webkit-scrollbar

		width: 12px
		height: 0.5rem

	&::-webkit-scrollbar-track

		border-left: 2px solid #C5C7DD
		background: #E6E7F0

	&::-webkit-scrollbar-thumb

		background: #C5C7DD
		border: 2px solid black
		border-right: 0

	&::-webkit-scrollbar-thumb:hover

		background: $gray-400

	&::-webkit-scrollbar-thumb:active

		background: $gray-500

	&::-webkit-scrollbar-corner

		background: $gray-100

	&::-webkit-scrollbar-button

		background: $gray-100

	&::-webkit-scrollbar-button:start:decrement

		height: 0

	&::-webkit-scrollbar-button:end:increment

		height: 0

	&::-webkit-scrollbar-button:horizontal:start:decrement

		width: 0

	&::-webkit-scrollbar-button:horizontal:end:increment

		width: 0

.scroll-wrapper
	position: absolute
	top: 0
	right: 0
	width: 100%
	height: 100%
	overflow-y: auto
	@extend .pretty-scrolls